@charset "UTF-8";

/* Todas as demais mídias */

/* Typical Device Breakpoints:
-------------------------------
Telas pequenas: até 600px
Mobile: até 768px.
Tablets: até 992px.
Desktop: até 1200px.
Telas Grandes: acima de 1200px
 */

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #5E2C81;
    height: 97vh;
    width: 97vw;
    position: relative;
}

main {
    position: absolute;
    background-image: url('../imagens/fundo.jpg');
    background-position: center left;
    margin: auto;
    width: 300px;
    height: 600px;
    border-radius: 20px;
    Line-height: 25px;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

article {
    background-color: white;
    padding: 10px;
    border-radius: 0px 0px 20px 20px;
    margin-top: 223px;
}

article > h1 {
    text-align: center;
    font-size: 2em;
    Line-height: 45px;
}

div {
    background-color: #5E2C81;
    padding: 5px;
    padding-top: 0px;
    margin: 3px;
    border-radius: 8px;
    color: white;
}

input {
    height: 30px;
    width: 273px;
    border-radius: 8px;
    background-color: #90CECA;
    padding: 5px;
    margin: auto;
    margin-bottom: 0px;
    color: white;
    font-size: 1.2em;
}

input#ilogin {
    width: 215px;
}

input#isenha {
    width: 215px;
}

input:hover {
    background-color: #29605C;
}

input:focus {
    background-color: white;
    color: black;
}

input#subesq {
    background-color: white;
    color: #90CECA;
    height: 45px;
    font-size: 1.2em;
}

input#subesq:hover {
    background-color: #29605C;
    color: white;
}

input#sublog {
    height: 45px;
    font-size: 1.2em;
    margin-top: 5px;
    margin-bottom: 5px;
}

span.material-symbols-outlined {
    position: relative;
    top: 50%;
    left: 0%;
    transform: translate(-0%, 30%);
    
    font-size: 30px;
}

